{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Vivis</title>      
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Yuji+Mai&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">   
    </head>

    <body>        
        <div id="sidebar">
            <a class= "page-title" href="{% url 'post_list' %}"><h1>Vivis</h1> </a>      
            {% if user.is_authenticated %}
            <p >Hello {{ user.username }} </p> <small><a  class = "account-link" href="{% url 'logout' %}">Log out</a></small>
            {% else %}
            <a class = "account-link" href="{% url 'login' %}">Log in </a>
            <a class = "account-link" href="{% url 'signup' %}">Sign up new account</a>
            {% endif %}    
            <nav>
                <ul>
                    <li><a class = "page-link" href="{% url 'post_list' %}">Home</a></li>
                    <li><a class = "page-link" href="{% url 'post_list' %}">Blog</a></li>
                    <!-- Add more pages here -->
                </ul>
            </nav>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>        
        
    </body>
</html>