{% extends 'blog/base.html' %}
{% block content %}
<div id="toolbar">
    <ul>
        {% if user.is_authenticated %}

        <li><a href="{% url 'post_edit' pk=post.pk %}" title="Edit post">
                {% include './icons/file-edit.svg' %}
            </a>

        </li>
        <li><a href="{% url 'post_remove' pk=post.pk %}" title="Delete post">{% include './icons/trash.svg' %}</a></li>
        {% endif %}


        {% if not post.published_date %}
        <li><a  href="{% url 'post_publish' pk=post.pk %}" title="Publish post">{% include './icons/check-circle.svg' %}</a></li>
        {% endif %}
</div>
<div id="main-content">
    <article class="post">
        {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
        {% endif %}

        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-text">{{ post.text|linebreaksbr }}</p>
        <p class="post-author">Says {{ post.author|linebreaksbr }} </p>
    </article>
</div>

{% endblock %}