{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div id="toolbar">
    <ul>
        {% if user.is_authenticated %}

        <li><a href="{% url 'post_edit' pk=post.pk %}" title="Edit post">
                {% include './icons/file-edit.svg' %}
            </a>

        </li>
        <li><a href="{% url 'post_remove' pk=post.pk %}" title="Delete post">{% include './icons/trash.svg' %}</a></li>
        <li><a href="{% url 'add_comment_to_post' pk=post.pk %}" title="Comment post">{% include './icons/comment-dots.svg' %}</a></li>
        {% endif %}


        {% if not post.published_date %}
        <li><a  href="{% url 'post_publish' pk=post.pk %}" title="Publish post">{% include './icons/check-circle.svg' %}</a></li>
        {% endif %}
</div>
<div id="main-content">
    <article class="post">
        {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
        {% endif %}

        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-text">{{ post.text|linebreaksbr }}</p>
        {% if post.photo %}
                <img class= "post-photo" src="{{ post.photo.url }}" alt="{{ post.title }}">
        {% endif %}
        <p class ="post-author">Said {{ post.author|linebreaksbr }}
            
            and got {{ post.comments.count }} comments about it. 
             {% if post.comments.count == 0 %} 
             <img class= "laughing-cat"  src="{% static 'img/laughing-cat.jpg' %}" >
             {% endif %}     
             
            {% if post.last_editor != post.author and post.last_editor != None%}<br> {{post.last_editor}} edited it too.
            {% endif %}
        </p>
    </article>
    <hr>
    {% for comment in post.comments.all %}
        <article class="comment">
            <div class="date">{{ comment.created_date }}</div>
            
            <p class = "comment-text">{{ comment.text|linebreaksbr }}</p>
            
            <p class="comment-author">Commented {{ comment.author }}</strong>
            <a class="btn-remove-comment" href="{% url 'comment_remove' pk=comment.pk %}">
                {% include './icons/trash.svg' %}
             </a>
        </article>
    {% empty %}
        <p class="no-comment">No comments here yet :(</p>
    {% endfor %}
</div>

{% endblock %}