{% extends 'blog/base.html' %}
{% block content %}
{% load static %}


<div id="toolbar">
    <!-- Toolbar content goes here -->
    {% if user.is_authenticated %}

    <ul>
        <li><a class="post-button" href="{% url 'post_new' %}" title="Make new post">
                {% include './icons/add-document.svg' %}
            </a>
            

        </li>
        <li><a class="draft-button" href="{% url 'post_draft_list' %}" title="Draft list">{% include './icons/files-medical.svg' %}</a></li>
    </ul>


    {% endif %}
</div>
<div id="main-content">
    <!-- Main content goes here -->
    {% for post in posts %}
    <a class= "post-link" href="{% url 'post_detail' pk=post.pk %}" >
    <article class="post">
        <time class="date">
            {{ post.published_date }}
        </time>
        
        <h2 class="post-title">{{ post.title }}</h2>        
        <p class ="post-text">{{ post.text|linebreaksbr }}</p>
        {% if post.photo %}
        <img class= "post-photo"  src="{{ post.photo.url }}" alt="{{ post.title }}">
        {% endif %}    
        <p class ="post-author">Said {{ post.author|linebreaksbr }}
            {% if post.last_editor != post.author and post.last_editor != None%}
             , then edited by {{post.last_editor}},
            {% endif %}
            and got {{ post.comments.count }} comments about it. 
             {% if post.comments.count == 0 %} 
             <img class= "laughing-cat"  src="{% static 'img/laughing-cat.jpg' %}" >
             {% endif %}    
        </p>
    </article>
</a>
    {% endfor %}
    

</div>





{% endblock %}

