{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div id="main-content">
        <article class="post">
            <p class="date"> created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h2 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class = "post-text">{{ post.text|truncatechars:200 }}</p>
            <p class="post-author">Says {{ post.author|linebreaksbr }} </p>
        </article>
            
        </div>
    {% endfor %}
{% endblock %}