{% extends 'blog/base.html' %}
{% block content %}

    <main class="posting">    
        {% for post in posts %}
            <article class="post">
                <time class="date">
                    {{ post.published_date }}
                </time>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </main>  

    
       {% if user.is_authenticated %}
        <a class="post-button" href="{% url 'post_new' %}" >
            {% include './icons/file-earmark-plus.svg' %}
        </a>
        {% endif %} 
    

{% endblock %}

